/* ########## Colors ##########

#
#

##### Main Colors ##### */

$clr-main-green: #98CA3F;
$clr-secondary-green: #AEDA00;
$clr-secondary-very-dark-green: #668000;
$clr-secondary-blue: #157CF3;
$clr-background-blue: #24385B;
$clr-shadow-blue: #091d3f;
$clr-background-dark-blue: #121F3D;

/* ##### Secondary Colors ##### */

$clr-very-dark-blue: #060A1C;
$clr-very-dark-gray: #707070;
$clr-dark-gray: #BECAD9;
$clr-very-light: #FAFAFA;
$clr-very-light-gray: #E8EFF8;
$clr-yellow-js: #FFEE2C;

/* ##### Gradients ##### */

$bg-gradient-blue: linear-gradient(137deg, rgba(36,56,91,1) 0%, rgba(19,32,54,1) 100%);

/* ##### ##### ##### ##### ##### ##### ##### */